:root {
    --sec_link_txt: 18px;
    --sec_link_color: #e5e7eb;
    --header_logo_size: 24px;
    --header_logo_color: #f9faf8;
    --dark_bg: #1f2937;
    --hero_main_size: 48px;
    --hero_main_weight: extra-bold;
    --hero_main_color: #F9FAF8;
    --button_call_color: #3882f6;
    --information_head_size: 36px;
    --information_head_weight: extra-bold;
    --information_head_color: #1f2937;
    --quote_bg_color: #E5E7EB;
    --quote_size: 36px;
    --quote_color: #1f2937;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 80vw;
    margin: 0px auto;
}

/* First header part */
header {
    background-color: var(--dark_bg);
}
.header{
    background-color: var(--dark_bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.header .logo{
    color: var(--header_logo_color);
    font-size: var(--header_logo_size);
}

.header .nav_bar{
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

.header .nav_bar a {
    color: var(--sec_link_color);
    text-decoration: none;
    font-size: var(--sec_link_txt);
}

@media (max-width: 500px) {
    .header {
        flex-flow: column wrap;
        gap: 2rem;
    }
}

/* Second Landing part */
main article:first-of-type {
    border: 1px solid var(--dark_bg);
    background-color: var(--dark_bg);
}
.landing {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    margin: 6rem auto;
    background-color: var(--dark_bg);
}

.landing .img {
    order: 1;
}

.landing img {
    width: 600px;
}

.landing h1 {
    font-size: var(--hero_main_size);
    font-weight: var(--hero_main_weight);
    color: var(--hero_main_color)
}

.landing p {
    color: var(--sec_link_color);
    font-size: var(--sec_link_txt);
}

.landing button {
    color: white;
    background-color: var(--button_call_color);
    border: none;
    width: 6rem;
    height: 2rem;
    border-radius: 0.4rem;
    margin-top: 1rem;
}

/* Third Random information part */
.resources {
    display: flex;
    flex-flow: column wrap;
    margin: 3rem auto;
}

.resources > .text {
    text-align: center;
    font-size: var(--information_head_size);
    font-weight: var(--information_head_weight);
    color: var(--information_head_color);
    margin-bottom: 3rem;
}

.resources .sites {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

}

.resources .sites .site {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.site img {
    border: 5px solid var(--button_call_color);
    border-radius: 0.6rem;
    width: 150px;
    height: 150px;
}

.site .text {
    text-align: center;
}

/* Fourth Quote part */
article:nth-child(3) {
    background-color: var(--quote_bg_color);
    border: 1px solid var(--quote_bg_color)
}
.quote {
    background-color: var(--quote_bg_color);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin: 5rem auto;
}

.quote .quote_body {
    font-size: var(--quote_size);
    font-weight: light;
    font-style: italic;
    color: var(--quote_color)
}
.quote .author {
    align-self: flex-end;
}

/* Fifth call part */
.call {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--button_call_color);
    color: white;
    padding: 2rem 8rem;
    margin: 5rem auto;
    border-radius: 0.4rem;
}

.call button {
    border: 1px solid white;
    background-color: var(--button_call_color);
    color: white;
    width: 9rem;
    height: 3rem;
    border-radius: 0.4rem;
}

/* Lastly the Footer */
.footer {
    background-color: var(--dark_bg);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 2rem;
}